html, body {
	font-family: $primary-font;
	width: 100%;
	font-size: 100%;
}

div {
	width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: 300;
	letter-spacing: 0.2em;
}

h1 {
	@include title(2.5em);
	&:first-letter {
		font-size: 1.2em;
	}
	@include respond(mobile) {
		font-size: 1.6em;
	}
}

h2 {
	@include title(1.8em);
	@include respond(mobile) {
		font-size: 1.2em;
	}
}

h3 {
	font-size: 1.6em;	
	@include respond(mobile) {
		font-size: 1.1em;
	}
}

h4 {
	font-size: 1.4em;	
	@include respond(mobile) {
		font-size: 1em;
	}
}

h5 {
	font-size: 1.2em;
	line-height: 1.6em;
  	letter-spacing: 0.1em;
  	@include respond(mobile) {
		font-size: 0.9em;
	}
}

p {
	font-size: 0.9em;
	font-weight: 400;
	@include respond(mobile) {
		font-size: 0.8em;
	}
}

h6 {
	font-size: 0.8em;
	font-weight: 200;
	@include respond(mobile) {
		font-size: 0.7em;
		font-weight: 300;
	}
}