div.img-container {
	width: 100%;
	height: 100vh;
	div {
		position: absolute;
	    top: 65vh;
	    color: white;
	    display: block;
	}
}

div.img-container.small {
	height: 70vh;
	h1, h2, h3, h4, {
	  	position: relative;
 		top: 50%;
 		color: white;
 		@include respond(mobile) {
 			top: 10em;
 		}
 	}
}

.landing {
	background: url(../../img/landscapes/salina.jpg) no-repeat center;
	background-size: cover;
}

.blog {
	background: url(../../img/landscapes/naples.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
}

.work {
	background: url(../../img/landscapes/work.jpg) no-repeat right;
	background-size: cover;
}

.contact {
	background: url(../../img/landscapes/isleofskye.jpg) no-repeat right;
	background-size: cover;
}

.portrait-container {
	width: 10em;
  	height: 10em;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	float: left;
	margin-right: 2em;
	img {
		width: 100%;
		height: auto;
	}
}