// for text over an image
.float {
	position: absolute;
    top: 60%;
    color: white;
    display: block;
}

//TODO: find a better place for this.
hr {
	width: 32em;
	margin: 0 auto;
	@include respond(mobile) {
		width: 20em;
	}
}

.text-block {
	background: white;
	padding: 5em 10%;
}