div(class="icon-container")
	img(src="./img/icons/email.png")
	img(src="./img/icons/twitter.png")
	img(src="./img/icons/linkedin.png")
	img(src="./img/icons/github.png")


	p Images, content, design, and development by Natalia Baltazar